@model IEnumerable<SwlMarket.Models.Price>

@{
    ViewData["Title"] = "Prices";
}

<h2>Prices</h2>

@foreach (var group in Model.GroupBy(i => i.Item.ItemCategory).OrderBy(g => g.Key))
{
    var groupName = group.Key?.ToString() ?? "Uncategorized";
    var divId = "data" + groupName;
    <h3 data-toggle="collapse" data-target="@Html.Encode("#"+divId)">@Html.Encode(groupName)</h3>
    <div id="@Html.Encode(divId)" class="collapse">
        <table class="table">
            <tbody>
                @foreach (var item in group)
                {
                    <tr>
                        <td>
                            <a class="@item.Item.Rarity" asp-controller="Home" asp-action="Item" asp-route-id="@item.ItemID">@Html.DisplayFor(modelItem => item.Item.Name)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpiresAt)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}