@model IEnumerable<SwlMarket.Models.Price>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-right">Marks</th>
            <th class="text-right">Expires At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var expiresString = item.ExpiresAt != null ? item.ExpiresAt.Value.ToString("yyyy-MM-dd HH:mm tt") : "Expired";
            <tr class="itemRow">
                <td><a class="@item.Item.Rarity" asp-controller="Home" asp-action="Item" asp-route-id="@item.ItemID">@item.Item.Name</a></td>
                <td class="text-right">@item.Marks.ToString("N0")</td>
                <td class="text-right">@expiresString</td>
            </tr>
        }
    </tbody>
</table>