@model IEnumerable<SwlMarket.Models.Price>

@{
    ViewData["Title"] = "Prices";
}

<h2>Categories</h2>

@foreach (var group in Model.GroupBy(i => i.Item.ItemCategory).OrderBy(g => g.Key.DisplayName("Uncategorized")))
{
    var divId = "data" + group.Key;
    <h3 data-toggle="collapse" data-target="@Html.Encode("#"+divId)">@group.Key.DisplayName("Uncategorized")</h3>
    <div id="@Html.Encode(divId)" class="collapse">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.Name)
                    </th>
                    <th class="text-right">
                        @Html.DisplayNameFor(model => model.Marks)
                    </th>
                    <th class="text-right">
                        @Html.DisplayNameFor(model => model.ExpiresAt)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in group)
                {
                    <tr>
                        <td>
                            <a class="@item.Item.Rarity" asp-controller="Home" asp-action="Item" asp-route-id="@item.ItemID">@Html.DisplayFor(model => item.Item.Name)</a>
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(model => item.Marks)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(model => item.ExpiresAt)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}