@model IEnumerable<SwlMarket.Models.Price>

@{
    ViewData["Title"] = "Prices";
}

<h2>Prices</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiresAt)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(i => i.Item.ItemCategory))
        {
            <tr>
                <td colspan="3">@Html.Encode(group.Key?.ToString() ?? "Uncategorized")</td>
            </tr>
            @foreach (var item in group)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Marks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiresAt)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>